//Fonts
$principalFont: "Montserrat", sans-serif;
//Colors
$white: #edf5e1;
$lightGreen: #8ee4af;
$green: #5cdb95;
$darkGreen: #379683;
$darkBlue: #05386b;
$pink: #fe5d4d;
//FontWeight
$light: 300;
$normal: 400;
$bold: 700;
$black: 900;
//Gap
$gap: 5rem;
